:root {
    --co-white: #fff;
    --co-green: #017f67;
    --co-dark-green: #245852;
    --co-light-green: #01996D;
    --co-black: #292929;
    --co-light-black: #484848;
}

/* media breakpoints: 992px, 768px, 576px, 480px */